<div id="home-banner">
  <div class="container" id="home-banner-container">
    <div class="col-10 col-xl-12">
      <%= image_tag("logo.png", :alt => "logo", :id => "img-banner-logo") %>
      <div id="home-banner-text">
        <h2>Creating high performing teams</h2>
        <p>We believe that leaders and teams can always get better. Striving for better is both healthy and something you can habituate.</p>
        <p>So teamup∞™ offer a range of solutions built on neuroscience designed to accelerate individual and team performance.</p>
      </div>
      <%= link_to "our solutions", root_path, class: "btn-blue", id: "home-banner-btn" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-xl-6" id="home-intro-pic">
      <%= image_tag("reports.jpg", :alt => "reports", :id => "img-reports") %>
    </div>
    <div class="col-12 col-xl-6" id="home-intro-text">
      <p class="subtitles-grey"><strong>teamup∞™ are proprietary neuroscience-based assessments</strong></p>
      <h2>Based on neuroscience</h2>
      <p>The teamup∞™ model for high performing teams is based exclusively on application of the latest published neuroscience towards collaboration and collective intelligence.</p>
      <p>Workplaces are social systems, filled with people. Each and everyone of those people possesses a brain capable of amazing complexity, and more learning and adaptation than previously ever thought possible. Yet every one of those brains is wired to be beautifully and predictably biased, energy conserving, meaning making and risk avoiding. So it’s essential that we use this growing knowledge to create an environment where teams can flourish.</p>
      <p>We know that high performing teams give organizations a huge competitive advantage. However, these teams seldom perform to their collective potential. This is because most of the models of team effectiveness focus on competencies or experience, and ignore the science. This is where teamup∞™ is different...because we lead with neuroscience.</p>
    </div>
  </div>
  <div id="home-intro-btn">
    <%= link_to "the science", root_path, class: "btn-pink"%>
  </div>
  <div class="divider"></div>
  <div id="home-quote">
    <p id="quote"><em>“Without data, you’re just another person with an opinion”</em></p>
    <p id="quote-author">(W. Edwards Deming)</p>
  </div>
</div>

<div class="divider"></div>

<div class="container" id="home-how">
  <h2>How it works</h2>
  <p>The teamup∞™ model for high performing teams suggests there are 6 ongoing leadership roles needed to build a high performing team. The model is an infinity loop to represent both the sequential and ongoing responsibility of leaders to create an effective team.</p>
  <p>Our assessments help you to hone in on which of the 6 roles you do well, which you could improve upon, and what are some practical suggestions you can apply to your work today.</p>
  <p>For those with a thirst for knowledge, we also provide specific information on how you’re doing on the 15 steps which sit at the heart of teamup∞™.</p>
  <div id="home-how-img">
    <%= image_tag("infinity_loop.jpg", :alt => "infinity loop model", :id => "img-infinity-loop") %>
  </div>
</div>
